@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.custom-font {
  font-family: "Concert One", cursive;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 2;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s steps(2, start) infinite;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.icon {
  @apply flex items-center justify-center text-4xl sm:text-5xl md:text-6xl w-20 sm:w-24 md:w-28 h-20 sm:h-24 md:h-28;
}








